.m-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(233, 233, 233, .5);
}

.m-dialog{
  position:fixed;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:auto;
  border:1px solid #cacacb;
  box-shadow: 5px 5px 5px #ccc;
  z-index: 99;
  border-radius: 14px;
}

.md-dialog{
  background-color: #fff;
  min-width: 370px;
  border-radius: 14px;
}

.header {
  height: 40px;
  text-align: left;
}

.title {
  font-size: 20px;
  padding-left: 10px;
  font-family: 'Comic Sans MS', cursive;
  display: inline-block;
  margin: 5px 10px;
}

.closeBtn {
  width: 22px;
  border: 1px solid white;
  height: 30px;
  outline: none;
  background-color: white;
  font-size: 25px;
  color: #FF534D;
  border: none;
  float: right;
  margin: 5px 10px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.body {
  height: 80px;
}

.itemInput {
  width: 280px;
  height: 30px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 12px;
  border: 1px solid #A2A3A2;
  outline: none;
  margin: 18px 5px;
}

.footer {
  height: 50px;
}

.submitBtn,.cancelBtn {
  background-color: #C8E6E2;
  width: 70px;
  height: 30px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #C8E6E2;
  outline: none;
  background: linear-gradient(135deg, #6e8efb, #C8E6E2);
  will-change: transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.submitBtn {
  margin: 0 10px 10px 80px;
}

.cancelBtn {
  margin: 0 80px 10px 10px;
}