body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #DDF0ED;
}

.wrapper {
  width: 550px;
  text-align: center;
  margin: 100px auto;
  font-size: 14px;
  border: 1px solid #D3D3D3;
  padding: 10px 15px 20px 15px;
  -moz-box-shadow:4px 4px 6px #828281;
  -webkit-box-shadow:4px 4px 6px #828281;
  box-shadow:4px 4px 6px #828281;
  background-color: #C8E6E2;
}

#todo {
  width: 550px;
  display: inline-block;
  font-size: 60px;
  font-family: 'Comic Sans MS', cursive;
  font-style: italic;
  color: #f74f53;
}

#titleInp,.itemInp {
  margin: 30px 0 0 0;
  width: 400px;
  height: 30px;
  border-radius: 12px;
  outline: none;
  margin: 0 15px 0 0;
  display: inline-block;
}

#titleInp {
  border: 1px solid #A2A3A2;
  font-size: 15px;
  padding: 0 10px;
}

.itemInp {
  background-color: transparent;
  border: none;
  font-family: 'Comic Sans MS', cursive;
  font-size: 22px;
  padding: 0 5px;
}

#OKBtn {
  background-color: #C8E6E2;
  margin: 30px 0 0 5px;
  width: 60px;
  height: 30px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #C8E6E2;
  outline: none;
  background: linear-gradient(135deg, #6e8efb, #C8E6E2);
  will-change: transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

#ul {
  padding: 0 20px;
}

.addBtn,.arrowBtn,.arrowBtn1 {
  background-color: transparent;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  line-height: 10px;
}

.addBtn {
  margin: 2px 20px 2px 380px;
}

.arrowBtn,.arrowBtn1 {
  margin-right: 10px;
}

.arrowBtn::after,.arrowBtn1::after {
  display: inline-block;
  content: '';
  height: 8px;
  width: 8px;
  border-width: 0 1.5px 1.5px 0;
  border-color: white;
  border-style: solid;
  transform-origin: center;
}

.arrowBtn::after {
  transform: rotate(45deg);
}

.arrowBtn1::after {
  transform: rotate(225deg);
}

.addStrong1,.addStrong2 {
  color: white;
  font-size: 20px;
  position: absolute;
  right: 8%;
  height: 20px;
  width: 20px;
  margin: -6px 0;
}

.addStrong1 {
  display: none;
}

.liItem {
  position: relative;
  list-style: none;
  background: linear-gradient(135deg, #6e8efb, #C8E6E2);
  text-align: left;
  padding: 5px 15px;
  margin: 5px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 7px;
  width: 480px;
  height: 25px;
  display: flex;
  flex-direction: row;
  line-height: 25px;
}

.table {
  table-layout: fixed;
  width: 480px;
}

td {
  border-bottom: 1px solid #D3D3D3;
  width: 480px;
  padding: 5px 5px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2px;
}

.overBtn1,.overBtn2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  border: 1px solid #9C9EA1;
  margin: 0 15px 0 5px;
  line-height: 20px;
}

.overBtn2 {
  background-image: url(over.jpg);
  background-size: 100% 100%;
}

.delBtn1,.delBtn2,.delTitleBtn1,.delTitleBtn2 {
  width: 22px;
  border: none;
  height: 22px;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  margin: 0 0 0 20px;
  color: #FF534D;
}

.delTitleBtn1,.delTitleBtn2 {
  position: absolute;
  right: 3%;
  color: white;
  margin: -4px 0;
}

.delBtn1,.delTitleBtn1 {
  display: none;
}

.delBtn2:hover {
  color: red;
}

.itemText1,.itemText2,.dataSpan {
  display: inline-block;
  background-color: #C8E6E2;
  font-size: 16px;
  border: 0;
  outline: none;
  height: 20px;
  line-height: 20px;
  width: 190px;
  margin-top: 3px;
  text-align: left;
}

.itemText1 {
  text-decoration: line-through;
}

#footer {
  height: 30px;
  margin-top: 5px;
}

#showNum {
  border: 0;
  width: 80px;
  height: 20px;
  font-size: 14px;
  font-family: 'Comic Sans MS', cursive;
  text-align: left;
  float: left;
  margin: 5px 20px 0 35px;
}

.onBtn,.unBtn {
  text-align: center;
  display: inline-block;
  float: left;
  width: 65px;
  height: 20px;
  font-size: 8px;
  outline: none;
  margin: 5px 0 0 8px;
  background-color: #C8E6E2;
}

.onBtn {
  border: 1px solid #9C9EA1;
}

.unBtn {
  border: none;
}

.onShow,.unShow {
  width: 120px;
  background-color: #C8E6E2;
  border-radius: 12px;
  height: 20px;
  line-height: 20px;
  border: 0;
  margin: 5px 0 0 20px;
  outline: none;
}

.onShow:hover {
  background: linear-gradient(135deg, #6e8efb, #C8E6E2);
}

.unShow {
  display: none;
}
